<!doctype html>
<html>
  <head>
    <title>gosnip - Go snippets</title>
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <link href="/public/screen.css" rel="stylesheet" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36374706-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

</script>
   </head>
   <body>
     <div id="wrapper">
       <div id="header">
         <h1><a href='/'>gosnip - Go snippets</a></h1>
         <div id="menu">
           <a href="/new">New Snippet</a>
           <a href="/about">About</a>
         </div>
         <div class='clear'></div>
       </div>
       <div id="content">

