<!doctype html>
<html>
  <head>
    <title>Go snippets</title>
    <link href="/public/screen.css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>Go Snippets!</h1>
      </div>
      <form action="/create" method="post">
        <input type="text" name="name" placeholder='Name' class='name' /><br />
        <textarea name="description" placeholder='Description' class='description'></textarea><br />
        <textarea name="code" placeholder='Code' class='code'></textarea><br />
        <input type="submit" value="Submit" class='submit' />
      </form>
      {{range .}}
      <div id='S{{.Name}}' class="snippet">
        <h2>{{.Name}}</h2>
        <p>
          {{.Description}}
        </p>
        <pre>
{{.HighlightedCode}}
        </pre>
        {{end}}
      </div>
    </div>
  </body>
</html>
